## Pandas 시리즈

In [1]:
import pandas as pd
import numpy as np

### 1. 시리스 신규 생성:

In [2]:
my_index = ['a','b','c']
my_values = [222,333,444]
my_dict = {'a':222, 'b':333, 'c':444}
my_arr = np.array(my_values)

In [3]:
# 값을 넣어서 생성.
pd.Series(my_values)

0    222
1    333
2    444
dtype: int64

In [4]:
# 값과 index를 넣어서 생성.
pd.Series(data=my_values, index=my_index)

a    222
b    333
c    444
dtype: int64

In [5]:
# Numpy 배열기반.
pd.Series(my_arr)

0    222
1    333
2    444
dtype: int32

In [6]:
# Numpy 배열기반, index를 넣어서 생성.
pd.Series(my_arr, index=my_index)

a    222
b    333
c    444
dtype: int32

In [7]:
# 딕셔너리 기반.
pd.Series(my_dict)

a    222
b    333
c    444
dtype: int64

### 2. 시리즈 인덱싱:

In [8]:
s = pd.Series(data=[111,222,333,444], index = ['a','b','c','d'], name='MySeries')   #시리즈 생성
s

a    111
b    222
c    333
d    444
Name: MySeries, dtype: int64

In [9]:
s.index                                   # 인덱스 출력.

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
s.name                                    # 이름 출력.

'MySeries'

In [11]:
s.dtype                                   # 자료형 출력.

dtype('int64')

In [12]:
s.values                                  # 자료를 Numpy 배열로 출력.

array([111, 222, 333, 444], dtype=int64)

In [13]:
s[1]

222

In [14]:
s['a']

111

In [15]:
s[2:4]

c    333
d    444
Name: MySeries, dtype: int64

In [16]:
s[['a','d']]

a    111
d    444
Name: MySeries, dtype: int64

### 3. 시리즈 사이의 연산:

In [17]:
s1 = pd.Series(data=[1,2,3,4], index = ['d','b','c','a'])
s2 = pd.Series(data=[1,2,3,4], index = ['a','b','d','e'])

In [18]:
s1*2

d    2
b    4
c    6
a    8
dtype: int64

In [19]:
s1 + 100

d    101
b    102
c    103
a    104
dtype: int64

In [20]:
s1 + s2

a    5.0
b    4.0
c    NaN
d    4.0
e    NaN
dtype: float64

In [21]:
s1 - s2

a    3.0
b    0.0
c    NaN
d   -2.0
e    NaN
dtype: float64

In [22]:
s1 * s2

a    4.0
b    4.0
c    NaN
d    3.0
e    NaN
dtype: float64

In [23]:
s1/s2

a    4.000000
b    1.000000
c         NaN
d    0.333333
e         NaN
dtype: float64

### 4. 시리즈 통계연산:

In [24]:
s1.sum()

10

In [25]:
s1.mean()

2.5

In [26]:
s1.median()

2.5

In [27]:
s1.max()

4

In [28]:
s1.std()

1.2909944487358056

In [29]:
s1.sort_values()   #값으로 정렬

d    1
b    2
c    3
a    4
dtype: int64

In [30]:
s1.sort_index()   #인덱스로 정렬

a    4
b    2
c    3
d    1
dtype: int64