### 혈액형 별 신장 구하기

In [1]:
import pandas as pd
import numpy as np
import os

#### 데이터 프레임을 읽어 온다:

In [2]:
os.chdir(r"C:\Users\Gram\Desktop\아시아경제 수업자료\01 Python 분석 기초 - 실습\data")

In [3]:
# df = pd.read_csv('data_population.csv', header='infer',encoding='ISO-8859-1')
df = pd.read_csv('data_studentlist_en.csv', header='infer',encoding = 'latin1')

In [4]:
df.shape

(17, 8)

#### 1) groupby로 그룹 평균 구하기

In [5]:
df.groupby('bloodtype')['height'].mean()

bloodtype
A     169.075
AB    177.400
B     171.280
O     165.140
Name: height, dtype: float64

#### 2) 피보팅으로 그룹 평균 구하기

In [6]:
# 세로 방향으로.
df.pivot_table(index = 'bloodtype', values = 'height', aggfunc=np.mean)

            height
bloodtype
A          169.075
AB         177.400
B          171.280
O          165.140

In [7]:
# 가로 방향으로.
df.pivot_table(columns = 'bloodtype', values = 'height', aggfunc=np.mean)

bloodtype        A     AB       B       O
height     169.075  177.4  171.28  165.14