### 도별 인구 합계 구하기

In [1]:
import pandas as pd
import numpy as np
import os
from matplotlib import font_manager, rc
%matplotlib inline
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

#### 데이터 프레임 읽어오기: 읽어올 때 빈 셀은 결측치로 인식

In [2]:
os.chdir(r"C:\Users\Gram\Desktop\아시아경제 수업자료\01 Python 분석 기초 - 실습\data")

In [3]:
df=pd.read_csv('data_population.csv', header='infer', encoding='ms949',na_values=[' '])  #결측치 NaN으로 인식하게끔

In [4]:
df.head(3)       #서울특별시 city가 NaN으로 결측치

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
0,1,서울특별시,NaN,10078850,4197478,2.40,4962774,5116076,0.97
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
2,3,서울특별시,중구,126817,59614,2.13,63292,63525,1.00

#### 결측치 처리

In [5]:
df.count()    #결측치아닌 정상값의 개수 먼저 확인   # df.count(axis=0)하면 열 방향으로 
              #city에 결측치 NaN이 있어서 263으로 나옴

Unnamed: 0     281
Province       281
City           263
Population     281
Households     281
PersInHou      281
Male           281
Female         281
GenderRatio    281
dtype: int64

In [6]:
df=df.dropna(axis=0)   # 결측치 포함된 행 제거.  #여기서 재대입하거나, lispace하면 항구적으로 남음

In [7]:
df.count()     #결측치 처리후 정상값들 다시 확인
               #city값도 다른값과 같아짐

Unnamed: 0     263
Province       263
City           263
Population     263
Households     263
PersInHou      263
Male           263
Female         263
GenderRatio    263
dtype: int64

#### 1) groupby로 그룹 합계 구하기

In [8]:
df.groupby('Province')['Population'].sum()    #도별로 인구 합
#서울이 10078850으로 서브토탈과 일치함

Province
강원도         1547166
경기도        18723822
경상남도        4428762
경상북도        3215695
광주광역시       1476974
대구광역시       2491137
대전광역시       1525656
부산광역시       3517491
서울특별시      10078850
울산광역시       1169768
인천광역시       2914271
전라남도        1902638
전라북도        2523806
제주특별자치도      615250
충청남도        2671383
충청북도        2414568
Name: Population, dtype: int64

#### 2) 피보팅으로 그룹 합계 구하기

In [9]:
# 세로 방향으로.
df.pivot_table(index = 'Province', values = 'Population', aggfunc=np.sum)

          Population
Province
강원도          1547166
경기도         18723822
경상남도         4428762
경상북도         3215695
광주광역시        1476974
대구광역시        2491137
대전광역시        1525656
부산광역시        3517491
서울특별시       10078850
울산광역시        1169768
인천광역시        2914271
전라남도         1902638
전라북도         2523806
제주특별자치도       615250
충청남도         2671383
충청북도         2414568

In [10]:
# 가로 방향으로.
df.pivot_table(columns = 'Province', values = 'Population', aggfunc=np.sum)

Province,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
Population,1547166,18723822,4428762,3215695,1476974,2491137,1525656,3517491,10078850,1169768,2914271,1902638,2523806,615250,2671383,2414568