## 1. 리스트 [ ]

### 1.1 리스트 만들기

In [1]:
student1 = [90,95,85,80] 
student1

[90, 95, 85, 80]

- student[0],[1],[2],[3]
- student[-4],[-3],[-2],[-1]

In [2]:
student1[1] = 100   # 두 번째 항목에 새로운 데이터 할당
student1

[90, 100, 85, 80]

### 1.2 리스트 다루기

#### 리스트 더하기

In [3]:
list_con1= [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2    # 리스트 연결

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

#### 리스트 곱하기

In [4]:
list_con1= [1,2,3,4]
list_con = list_con1 * 3    # 곱한만큼 리스트 반복

print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### 1.3 리스트 항목 다루기

#### 리스트 일부 항목 가져오기

- 리스트 [시작 : 끝 : 스텝(증가단계)]

In [5]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]    
print(list_data)
print(list_data[0:3]) 
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])     # 2씩 증가

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

#### 리스트 항목 삭제하기

- del 리스트 [i]

In [6]:
del list_data[6]   # [6]번 항목삭제
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

#### 리스트에서 항목의 존재여부 확인하기

- 항목 in 리스트
- 리스트에 항목있으면 true, 없으면 false

In [7]:
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data1)       # 5가 항목에 있는지
print(6 in list_data1)       # 6이 항목에 있는지

True
False

### 1.4 리스트 메서드 사용하기

#### append

In [8]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas')   # append: 리스트 맨 끝에 새로운 항목 추가
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

#### insert

In [1]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1,'Paul')  # insert: 인덱스 1번 위치에 Paul 삽입
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

#### extend

In [2]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])  # extend: 리스트의 맨 끝에 여러 개의 항목 추가
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

## 2. 튜플 ( )

- 리스트와 다르게 한번 생성하면 항목 변경 불가 -> 메서드 사용이 힘듬

### 2.1 튜플 만들기

In [9]:
tuple1 = (1,2,3,4)   # 소괄호 사용해 만들기
tuple1

(1, 2, 3, 4)

In [10]:
tuple1[1]  # 1번위치 튜플 출력

2

In [11]:
tuple2 = 5,6,7,8   # 소괄호 사용하지 않고도 만들수 있음
print(tuple2)

(5, 6, 7, 8)

In [12]:
tuple3 = (9,)     # 항목을 하나만 갖는 튜플 생성 시, 반드시 콤마 필요
tuple4 = 10,  
print(tuple3)
print(tuple4)

(9,)
(10,)

### 2.2 튜플 메서드 사용하기

 - index, count는 요소를 변경하지 않는 메서드라 사용가능

#### index

In [13]:
tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')
tuple6.index('c')   # 인자와 일치하는 첫번째 항목의 위치

2

#### count

In [14]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')
tuple7.count('a')  # 인자와 일치하는 항목의 개수

3

## 3. 세트 { }

### 3.1 세트 만들기

In [15]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)    # 중복된 데이터는 하나만 출력

{1, 2, 3}
{1, 2, 3}

### 3.2 교집합, 합집합, 차집합 구하기

#### 메서드 이용해서

In [16]:
A = {1, 2, 3, 4, 5}         
B = {4, 5, 6, 7, 8, 9, 10} 
A.intersection(B)  # 교집합(A∩B)

{4, 5}

In [17]:
A.union(B)  # 합집합(A∪B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
A.difference(B) # 차집합(A-B)   #A에서 B를 지운 것

{1, 2, 3}

#### 연산자 이용해서

In [19]:
A = {1, 2, 3, 4, 5}         
B = {4, 5, 6, 7, 8, 9, 10}  
A & B  # 교집합(A∩B)

{4, 5}

In [20]:
A | B  # 합집합(A∪B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
A - B  # 차집합(A-B)

{1, 2, 3}

### 3.4 리스트, 튜플, 세트 간 타입 변환

In [22]:
a = [1,2,3,4,5]    # 리스트 a 생성

In [23]:
b = tuple(a)      # 리스트 a를 튜플 b로 변환
b

(1, 2, 3, 4, 5)

In [24]:
c = set(a)       # 리스트 a를 세트 c로 변환
c

{1, 2, 3, 4, 5}

## 4. 딕셔너리


- 쌍으로 데이터를 입력해야 할 때 사용 (키:값)

### 4.1 딕셔너리 만들기

#### 키와 값이 모두 문자열

In [25]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스": "베른", "호주":"멜버른", "덴마크": "코펜하겐"}  
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [26]:
country_capital["영국"]   # 원하는 키의 값을 찾을 때

'런던'

#### 키는 숫자, 값은 문자열

In [27]:
dict_data1 = {1:"버스", 3: "비행기", 4:"택시", 5: "자전거"}    
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [28]:
dict_data1[3]      # 3이 리스트의 인덱스처럼 위치를 뜻하는 것 아님
                   # 딕셔너리의 키일 뿐

'비행기'

#### 키와 값이 모두 숫자

In [29]:
dict_data2 = {1:10, 2: 20, 3:30, 4: 40, 5:50}    
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

####  키는 문자열, 값은 리스트

In [30]:
dict_data3 = {"list_data1":[11,12,13], "list_data2": [21,22,23]}  
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

### 4.2 딕셔너리 다루기

#### 딕셔너리에 데이터 추가

In [31]:
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [32]:
country_capital["독일"]= "베를린"    # 키=독일, 값=베를린 추가
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

#### 딕셔너리의 데이터 변경

In [33]:
country_capital["호주"]= "캔버라"   #기존 호주키의 값에 변경할 값을 할당
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

#### 딕셔너리의 데이터 삭제

In [34]:
del country_capital["덴마크"]    # 삭제할 키 입력
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

### 4.3 딕셔너리 메서드 활용하기

- 딕셔너리 메서드인 keys, values, items는 각각 dict_keys, dict_values, dict_items라는 데이터 형태로 값을 반환

In [35]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}    # 딕셔너리 생성

In [36]:
print(fruit_code.keys())     # 키만 출력

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [37]:
print(fruit_code.values())   # 값만 출력

dict_values([101, 102, 103, 104, 105])

In [38]:
print(fruit_code.items())    # 키와 값의 쌍을 출력

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

### 4.4 딕셔너리를 list로 변환

- 딕셔너리를 list로 변환하면 데이터 처리가 편리

In [39]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [40]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [41]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

### 4.5 딕셔너리 활용

#### update 이용해 새로운 딕셔너리 데이터 추가

In [42]:
fruit_code2 = {"오렌지":106, "수박":107}   # 딕셔너리 생성

In [43]:
fruit_code.update(fruit_code2)   # update 이용해 fruit_code에 fruit_code2를 추가
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

#### clear 이용해 딕셔너리 모든 항목 삭제

In [44]:
fruit_code2.clear()    
print(fruit_code2)     # fruit_code2의 모든 항목을 삭제해 결과값이 빈 딕셔너리{}가 됨

{}